# install

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

# import

In [2]:
import pyspark

# spark session

In [4]:
# imports to create session
from pyspark.sql import SparkSession

In [6]:
# creating a session stored under spark, application name 'practice'
spark = SparkSession.builder.appName('practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/21 00:01:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
# session
spark

# read dataset

In [8]:
# read data
df_pyspark = spark.read.csv('data.csv')

In [9]:
# shows object, 
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [10]:
# object and comand
df_pyspark.show()

+-------+----+------+---------+
|    _c0| _c1|   _c2|      _c3|
+-------+----+------+---------+
|Country| Age|Salary|Purchased|
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

# naming convention

In [12]:
# takes the names from csv and sets columns
df_pyspark = spark.read.option('header','true').csv('data.csv')

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.head(2)

[Row(Country='France', Age='44', Salary='72000', Purchased='No'),
 Row(Country='Spain', Age='27', Salary='48000', Purchased='Yes')]

In [17]:
# similar to .info
df_pyspark.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Purchased: string (nullable = true)