# imports

In [2]:
import pyspark
from pyspark.sql import SparkSession

# session

In [4]:
spark = SparkSession.builder.appName('practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/22 22:49:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/22 22:49:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# data

In [6]:
#                                                        #infer schema prevent all values automatically taking 'string' values
df = spark.read.option('header','true').csv('data.csv', inferSchema= True)

In [8]:
df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

# Filter Operations

# Conditional

In [12]:
# people age less than or = 45

In [16]:
# numerical filter
df.filter("Age <= 30").show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
+-------+---+------+---------+

In [19]:
# string filter
df.filter("Country = 'Spain'").show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
|  Spain|  27| 48000|      Yes|
|  Spain|  38| 61000|       No|
|  Spain|null| 52000|       No|
+-------+----+------+---------+

# multi-conditional

In [58]:
df.filter((df["Age"]<=30) &
          (df['Salary']== 48000)).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
|  Spain| 27| 48000|      Yes|
+-------+---+------+---------+

In [57]:
df.filter((df["Age"]<=30) |
          (df['Salary']== 48000)).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
+-------+---+------+---------+

# masking

In [59]:
df.filter("Country = 'Spain'").select(["Age","Salary"]).show()

+----+------+
| Age|Salary|
+----+------+
|  27| 48000|
|  38| 61000|
|null| 52000|
+----+------+

# not operand

In [68]:
# Not = to Spain
df.filter(~(df["Country"] == 'Spain')).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|Germany| 30| 54000|       No|
|Germany| 40|  null|      Yes|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+