# imports

In [1]:
import pyspark
from pyspark.sql import SparkSession

# session

In [2]:
spark = SparkSession.builder.appName('practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/22 23:07:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/22 23:07:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/22 23:07:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

# data

In [3]:
#                                                        #infer schema prevent all values automatically taking 'string' values
df = spark.read.option('header','true').csv('data.csv', inferSchema= True)

df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

# groupby

In [17]:
df.groupBy('Country').mean().show()

+-------+--------+------------------+
|Country|avg(Age)|       avg(Salary)|
+-------+--------+------------------+
|Germany|    40.0|           68500.0|
| France|    41.0|           69000.0|
|  Spain|    32.5|53666.666666666664|
+-------+--------+------------------+

In [19]:
df.groupBy('Country').max().show()

+-------+--------+-----------+
|Country|max(Age)|max(Salary)|
+-------+--------+-----------+
|Germany|      50|      83000|
| France|      48|      79000|
|  Spain|      38|      61000|
+-------+--------+-----------+

# method

In [ ]:
dff.