# import

In [1]:
import pyspark

# Session

In [2]:
# imports for session
from pyspark.sql import SparkSession

In [3]:
# creating session
spark = SparkSession.builder.appName('practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/21 00:53:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/21 00:53:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
spark

# Dataset

In [5]:
#                                                        #infer schema prevent all values automatically taking 'string' values
dfs = spark.read.option('header','true').csv('data.csv', inferSchema= True)

# PySpark Dataframes

In [6]:
dfs.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

# Data Types

In [7]:
# look at schema / dataframe
dfs.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Purchased: string (nullable = true)

In [8]:
dfs.dtypes

[('Country', 'string'),
 ('Age', 'int'),
 ('Salary', 'int'),
 ('Purchased', 'string')]

## another method

In [9]:
# similar output
dfs=spark.read.csv('data.csv',header=True,inferSchema=True)

# columns and indexing

In [10]:
dfs.columns

['Country', 'Age', 'Salary', 'Purchased']

In [11]:
dfs.head(3)

[Row(Country='France', Age=44, Salary=72000, Purchased='No'),
 Row(Country='Spain', Age=27, Salary=48000, Purchased='Yes'),
 Row(Country='Germany', Age=30, Salary=54000, Purchased='No')]

In [12]:
# select, instruction
dfs.select('Age')

DataFrame[Age: int]

In [13]:
# select, then action.
dfs.select('Age').show()

+----+
| Age|
+----+
|  44|
|  27|
|  30|
|  38|
|  40|
|  35|
|null|
|  48|
|  50|
|  37|
+----+

In [14]:
dfs.select('Age')

DataFrame[Age: int]

## multi cols

In [15]:
# select, instruction
dfs.select(['Age','Country']).show()

+----+-------+
| Age|Country|
+----+-------+
|  44| France|
|  27|  Spain|
|  30|Germany|
|  38|  Spain|
|  40|Germany|
|  35| France|
|null|  Spain|
|  48| France|
|  50|Germany|
|  37| France|
+----+-------+

# describe

In [16]:
dfs.describe()

DataFrame[summary: string, Country: string, Age: string, Salary: string, Purchased: string]

In [17]:
# giving numerical data based on column info
dfs.describe().show()

+-------+-------+-----------------+------------------+---------+
|summary|Country|              Age|            Salary|Purchased|
+-------+-------+-----------------+------------------+---------+
|  count|     10|                9|                 9|       10|
|   mean|   null|38.77777777777778| 63777.77777777778|     null|
| stddev|   null|7.693792591722529|12265.579661982732|     null|
|    min| France|               27|             48000|       No|
|    max|  Spain|               50|             83000|      Yes|
+-------+-------+-----------------+------------------+---------+

# adding cols

In [18]:
# add col based on other columns with math add# 
dfs = dfs.withColumn('Age After 2 years', dfs.Age + 2)

In [19]:
dfs.show()

+-------+----+------+---------+-----------------+
|Country| Age|Salary|Purchased|Age After 2 years|
+-------+----+------+---------+-----------------+
| France|  44| 72000|       No|               46|
|  Spain|  27| 48000|      Yes|               29|
|Germany|  30| 54000|       No|               32|
|  Spain|  38| 61000|       No|               40|
|Germany|  40|  null|      Yes|               42|
| France|  35| 58000|      Yes|               37|
|  Spain|null| 52000|       No|             null|
| France|  48| 79000|      Yes|               50|
|Germany|  50| 83000|       No|               52|
| France|  37| 67000|      Yes|               39|
+-------+----+------+---------+-----------------+

# dropping cols

In [20]:
# drop col
dfs = dfs.drop('Age After 2 years')

# rename

In [21]:
dfs.withColumnRenamed('Salary','sal').show()

+-------+----+-----+---------+
|Country| Age|  sal|Purchased|
+-------+----+-----+---------+
| France|  44|72000|       No|
|  Spain|  27|48000|      Yes|
|Germany|  30|54000|       No|
|  Spain|  38|61000|       No|
|Germany|  40| null|      Yes|
| France|  35|58000|      Yes|
|  Spain|null|52000|       No|
| France|  48|79000|      Yes|
|Germany|  50|83000|       No|
| France|  37|67000|      Yes|
+-------+----+-----+---------+

# handling missing values

In [22]:
# drop where null
dfs.na.drop().show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

In [23]:
# drop where null
# how (any and all)
dfs.na.drop(how = 'any').show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

In [29]:
# all least 2 null values should be present.
dfs.na.drop(how = 'any', thresh = 2).show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [25]:
# subset, drop from specific column
dfs.na.drop(subset = 'Salary').show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

## drop cols

In [26]:
dfs.drop('Age').show()

+-------+------+---------+
|Country|Salary|Purchased|
+-------+------+---------+
| France| 72000|       No|
|  Spain| 48000|      Yes|
|Germany| 54000|       No|
|  Spain| 61000|       No|
|Germany|  null|      Yes|
| France| 58000|      Yes|
|  Spain| 52000|       No|
| France| 79000|      Yes|
|Germany| 83000|       No|
| France| 67000|      Yes|
+-------+------+---------+

In [27]:
dfs.drop('Age').show()

+-------+------+---------+
|Country|Salary|Purchased|
+-------+------+---------+
| France| 72000|       No|
|  Spain| 48000|      Yes|
|Germany| 54000|       No|
|  Spain| 61000|       No|
|Germany|  null|      Yes|
| France| 58000|      Yes|
|  Spain| 52000|       No|
| France| 79000|      Yes|
|Germany| 83000|       No|
| France| 67000|      Yes|
+-------+------+---------+

## handle missing values by mean, med, and mode...

In [28]:
dfs.na.fill('missing').show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

# mean

In [31]:
from pyspark.ml.feature import Imputer